<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}  {%endblock%}</title>
    
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        {% load static %}
       

        <style>
          .fondo{

              font-family: 'Bahnschrift';
              background: #ADA996;  /* fallback for old browsers */
              background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
              background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
              

              {% comment %} , url("{% static 'img/circulos.png'%}  {% endcomment %}
          }

          
          
        </style>
    </head>
    <body class="fondo" >

        <nav class='navbar sticky-top navbar-expand-lg '  >
    
          <div class="container-fluid " style='background-color:#F99020 ; opacity:0.9;' >
           
              
              <a class='navbar-brand  text-uppercase text-expanded font-weight-bold' href="{% url 'inicio'%}" style='background-light; width: 100px;text-align: center' >LA CASITA</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <img src="{% static "img/lalcec.png" %}" width="90" height="60">
              <div class="collapse navbar-collapse" id="navbarSupportedContent" >
                <ul class="nav nav-tabs" >
                  <li class="nav-item px-lg-1" >
                    <a class="nav-link " aria-current="page" href="{% url 'post'%}" style='color:black;background-color:#F3E91D; width: 120px;text-align: center'>BLOG</a>
                  </li>
                  <li class="nav-item px-lg-1" >
                    <a class="nav-link " href="#"  style='background-color:#89EE39;color:black; width: 120px;text-align: center' >CAMPAÑAS</a>
                  </li>
                  <li class="nav-item px-lg-1">
                    <a class="nav-link " href="#" style='color:black; background-color:#408B05; width: 120px;text-align: center' >EVENTOS</a>
                  </li>
                  <li class="nav-item px-lg-1">
                    <a class="nav-link active" href="#" style='color:black;background-color:#EC2ACC; width: 120px;text-align: center'>DONACIONES</a>
                  </li>
                  <li class="nav-item px-lg-1">
                    <a class="nav-link " href="#" style='color:black;background-color:#691DEE; width: 120px;text-align: center'>SOCIOS</a>
                  </li>
                  <li class="nav-item px-lg-1">
                    <a class="nav-link " href="#" style='color:black;background-color:#0E2DB9; width: 120px;text-align: center'>CONTACTO</a>
                  </li>
                </ul>
               
                  <form class="d-flex" role="search" text-end>
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" align>
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
               
              </div>
          </div>
        </nav>

          {%block content%}
          {% endblock %}

    </body>
    <footer>
      <div class="card" style='background-color:#F99020 ;opacity:0.6;'>
        <div class="card-header">
          Developers
        </div>
        <div class="card-body" >
          <h5 class="card-title">Integrantes GRUPO 5</h5>
          <p class="card-text">Copyright 2022</p>
          
        </div>
      </div>
    </footer>

</html>