{% extends 'base.html' %}

{%load static%}
{% block title %} LALCEC {%endblock%}
{% block content%}



<div class="container">
  
    <img src="{% static "img/lalcec.png" %}" class='rounded mx-auto d-block' background:>
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">

      <h2 class="section-heading mb-4" >
        <span class="section-heading-upper">LALCEC - Chaco</span><br>
        <span class="section-heading-lower">"La actitud mata cualquier cáncer: LUCHA, SONRIE Y CUIDATE!."</span>
      </h2>

      <Por class="mb-3">Todos los años mueren 60.000 personas por cáncer en Argentina. </p>
    
    </div>
    
  </div>
</section>

{% endblock %}

