{% extends 'base.html' %}

{%load static%}
{% block title %} LALCEC {%endblock%}
{% block content%}



<div class="container">
<br>
 <img src="{% static "img/lalcecSP.png" %}" class='rounded mx-auto d-block' width="400" height="200" background:>
    <div class="intro-text left-0 text-center bg-faded p-5 rounded">
      <h2 class="section-heading mb-4" >
        <span class="fw-semibold text-danger">"La actitud mata cualquier cáncer"</span><br>
        <br>
        <span class="fw-bold text-black-50">¡LUCHA, SONRIE Y CUIDATE!</span>
       
      </h2><br>
        <span class= "mb-3 fst-italic"> Todos los años mueren 60.000 personas por cáncer en Argentina.</span> 
          
    </div>
    
</div>


{% endblock %}

