{% extends 'base.html' %}

{% block content %}



    <div class="row">
     
      {% comment %} {% if contextblog = 'vacio'%}

        {{vacio}}

      {% else %} {% endcomment %}
      <div class="col">
        <ul>
          {% for x in blog%}
            <h1><strong> {{x.titulo}} </strong></h1>
            <h2> {{x.descripcion}} </h2>
            <br>
            <img src= {{x.imagen.url}} class="img-fluid img-thumbnail max-width: 100%;height: auto; " > 
            <br>
            {{x.contenido}}
          {% endfor %}
        </ul>
      </div>
      {% comment %} {% endif %} {% endcomment %}
    </div>
  
{%endblock%}