{% extends 'base.html' %}

{% block content %}

<nav class="container-xxl">

    <div class="row">
     
      {% if not blog %}

      <strong><h1 style="color:red;">{{vacio}}</h1></strong>

      {% else %}
     
        <div class="col-8">
          
           
              {% for x in blog%}
                <h1 ><strong > {{x.titulo}} </strong></h1>
                <h2> {{x.descripcion}} </h2>
                <br>
                <img class="intro-img  img-fluid mb-3 mb-lg-0 rounded" src= {{x.imagen.url}} %> 
                <br>
                {{x.contenido}}
              {% endfor %}
           
        </div>
        <div class="col-3">
        
            lolo
          
        </div>
    
      {% endif %}

      <div style='width: 75%; margin: auto; text-align: center; color:green'>
        Categorias: 
        {% for x in blog %}
        <a href='{% url 'categoria' x.categoria_id %}'> {{x.categoria}} </a> &nbsp; &nbsp; 
        {% endfor %}
      </div>
    </div>
  </nav>  
</nav>

{%endblock%}