{% extends 'base.html' %}

{% load static%}
{% block title %} Blog {%endblock%}
{% block content %}

<nav class="container-fluid">
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v14.0" nonce="KNIfzx54"></script>
  <div class="row row-cols-2">
     
    {% if not blog %}

      <strong><h1 style="color:red;">{{vacio}}</h1></strong>

    {% else %}
     
      <div class="col-10 box ">   
        <nav class="container fluid" style="background-color: rgba(225, 215, 205 , 0.65);"> 
          {% if categ %}
            <h2 >CATEGORIA: {{categ.upper}}</h2>
          {% endif %}
           
          {% for x in blog%}
            
            <h2 class="border-end:1 "><strong><a href="{% url 'post_detail' x.pk %}"data-bs-toggle="tooltip" title="Administrar Posteo">{{x.titulo}}</a></strong></h2>
            <p> {{x.updated}} </p>

            {% if x.imagen %}
            <div class="caja">
              <br>
                <img class="intro-img img-fluid mb-3 mb-lg-1 rounded  max-width:50% height:50%%;" src= {{x.imagen.url}} > 
              <br>
            </div>
            {% endif %}

            {{x.contenido}}
            
            <!-- facebook -->
            <br>
              {% comment %} }       <div class="fb-like" data-href="/127.0.0.1:8000/post/{{x}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="false"></div> {% endcomment %}
            <div class="fb-comments" data-href="/127.0.0.1:8000/post/{{x}}"  data-width="" data-numposts="3"></div>
                <!-- fin facebook -->

          {% endfor %}
         
        </nav>
      </div>
  
      <div class="col-2 box">
        <nav class="container position-fixed" >
          <div style='width: 75%; margin-align: right; text-align: left; color:black; background-color: rgba(225, 215, 205 , 0.65);' >
            <br>
            <div class="btn-group-vertical" role="group" aria-label="Vertical button group" >
              <a class="btn btn-success" style="border-radius: 10px 0px 25px 20px;margin:3px; " href="{% url 'post'  %}">TODOS</a>
              
              {% for c, x in cat.items %}
              <a href="{% url 'post' %}?categoria={{c}}" style="border-radius: 10px 3px 25px 20px; margin:3px "  class="btn btn-success" >{{x}}</a>
              {% comment %} <aggle="button" class="btn btn-primary"  href="{% url 'post' %}?categoria={{x}}&categorias={{cat}}">{{c}}</a> {% endcomment %}
             
              {% endfor %}
               
            </div>
          </div>
        </nav> 
      </div>
    {% endif %}
  </div>
</nav>

{%endblock%}