{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="contenedor-post-detail">
    {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}" data-bs-toggle="tooltip" title="Modificar Blog"><span class="glyphicon glyphicon-pencil"></span></a><title>Editar</title>
        <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}" data-bs-toggle="tooltip" title="Eliminar Blog"><span class="glyphicon glyphicon-trash"></span></a><title>Eliminar</title>
    {% endif %}
    <h1 class="titulo-post-detail"> 
        {{ post.titulo }} 
    </h1>
    {% if post.imagen %}
        <div id="marco">
            <img class="imagen-post-detail" src= {{post.imagen.url}} > 
        </div>
    {% else %}
        <div id="marco">
            <img src="{% static 'img/sinImagen.jpg'%}" class="imagen-post-detail">
        </div>
    {% endif %}
    <div class="cuadrado">
        <div class="contenido-post-detail">
            <p>{{post.contenido|linebreaksbr}}</p>
        </div>
    </div>
    <p> {{post.updated}} </p>
</div>
{% endblock %}