{% extends 'base.html' %}

{%load static%}
{% block title %} Blog {%endblock%}
{% block content %}

<nav class="container-fluid">

    <div class="row">
     
      {% if not blog %}

      <strong><h1 style="color:red;">{{vacio}}</h1></strong>

      {% else %}
     
        <div class="col-10" > 
          <script async="false" type="text/javascript" src="chrome-extension://fnjhmkhhmkbjkkabndcnnogagogbneec/in-page.js"></script>
          <link type="text/css" id="dark-mode" rel="stylesheet" href="">
          
          <div class="album py-5 bg-light">
              <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                      {% for x in blog%}
                          <div class="col">
                              <div class="card shadow-sm">
                                  {% if x.imagen %}
                                  
                                    <img class="card-img-top" src="{{x.imagen.url}}" alt="Card image cap" width="400px" height="400px">
                                  
                                  {% endif %}
                                  <div class="card-body">
                                      <h3 ><strong > {{x.titulo}} </strong></h3>
                                      <p class="card-text">{{x.contenido}}</p>
                                      <div class="d-flex justify-content-between align-items-center">
                                          <small class="text-muted"><p> {{x.updated}} </p></small>
                                      </div>
                                      <br>
                                        {% comment %} }<div class="fb-like" data-href="/127.0.0.1:8000/post/{{x}}" data-width="auto" data-layout="standard" data-action="like" data-size="large" data-share="false"></div> {% endcomment %}
                                      <div class="fb-comments" data-href="/127.0.0.1:8000/post/{{x}}"  data-width="auto" data-numposts="3"></div>
                                  </div>
                              </div>
                          </div>
                      {% endfor %}
                  </div>
              </div>
          </div>
        </div>
  
      {% endif %}

      <div class="col-2 ">
       <div class="container">
          {% if blog %}
          
            <div style='width: 75%; margin: auto; text-align: left; color:green'>
              <p>Categorias:</p> 
                {% for x in blog %}
                  <li >
                    <a href='{% url 'categoria' x.categoria_id %}'> {{x.categoria}} </a> &nbsp; &nbsp; 
                  </li>
                {% endfor %}
            </div>
          {%endif%}
          </div>
      </div>
    </div>
  </nav>  
</nav>

{%endblock%}