{% extends 'base.html' %}

{% load static%}
{% block title %} Blog {%endblock%}
{% block content %}

<nav class="container-fluid">
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v14.0" nonce="KNIfzx54"></script>
    <div class="row">
     
      {% if not blog %}

      <strong><h1 style="color:red;">{{vacio}}</h1></strong>

      {% else %}
     
        <div class="col-10" > 
          
          <div class="container fluid" style="background-color: light">
            
           
              {% for x in blog%}
                <h2 class="border-end:1 "><strong > {{x.titulo}} </strong></h2>
                <p> {{x.updated}} </p>
                {% if x.imagen %}
                <br>
                  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded  max-width:100% height:auto;" src= {{x.imagen.url}} > 
                <br>
                {% endif %}
                {{x.contenido}}
                <!-- facebook -->
                <br>
        {% comment %} }       <div class="fb-like" data-href="/127.0.0.1:8000/post/{{x}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="false"></div> {% endcomment %}
                <div class="fb-comments" data-href="/127.0.0.1:8000/post/{{x}}"  data-width="" data-numposts="3"></div>
                <!-- facebook -->

              {% endfor %}
            
          </div>
         </div>
  
      {% endif %}

      <div class="col-2 ">
       <div class="container fluid sticky-top" >
          {% if blog %}
          
            <div style='width: 75%; margin: auto; text-align: left; color:green' class="overflow-visible">
              <p >Categorias:</p> 
           
              <div class="d-grid gap-2 col-6 mx-auto">
                <a class="btn btn-success""  href="{% url 'post'  %}" role="button">Todos</a>
             
                {% comment %} <a href='{% url 'post'  %}'>Todos</a> &nbsp; &nbsp; {% endcomment %}
              
                {% for c, x in cat.items %}
                
                <a class="btn btn-success" href="{% url 'categoria' x %}" role="button">{{c}}</a>
            
                   
                
              
                {% endfor %}
                </div
            </div>
          {%endif%}
          </div>
      </div>
    </div>
  </nav>  
</nav>

{%endblock%}