{% extends 'base.html' %}

{%load static%}
{% block title %} Blog {%endblock%}
{% block content %}

<nav class="container-xxl">

    <div class="row">
     
      {% if not blog %}

      <strong><h1 style="color:red;">{{vacio}}</h1></strong>

      {% else %}
     
        <div class="col-8">
          
           
              {% for x in blog%}
                <h1 ><strong > {{x.titulo}} </strong></h1>
                <p> {{x.updated}} </p>
                {% if x.imagen %}
                <br>
                  <img class="intro-img img-fluid mb-3 mb-lg-0 rounded  max-width:100% height:auto;" src= {{x.imagen.url}} > 
                <br>
                {% endif %}
                {{x.contenido}}
                <!-- facebook -->
                <br>
        {% comment %} }       <div class="fb-like" data-href="/127.0.0.1:8000/post/{{x}}" data-width="" data-layout="standard" data-action="like" data-size="large" data-share="false"></div> {% endcomment %}
                <div class="fb-comments" data-href="/127.0.0.1:8000/post/{{x}}"  data-width="" data-numposts="3"></div>
                <!-- facebook -->

              {% endfor %}

         </div>
  
      {% endif %}

      <div class="col-3">

        {% if blog %}
        
          <div style='width: 75%; margin: auto; text-align: left; color:green'>
            <p>Categorias:</p> 
            {% for x in blog %}
              <li>
                <a href='{% url 'categoria' x.categoria_id %}'> {{x.categoria}} </a> &nbsp; &nbsp; 
              </li>
            {% endfor %}
          </div>
        {%endif%}
      </div>
    </div>
  </nav>  
</nav>

{%endblock%}