{% extends 'base.html' %}

{% block content %}

<nav class="container-xxl">

    <div class="row">
     
     
      <div class="col-8">
              
        
        <div >CATEGORIA: {{categ}}</div> 
        {% for x in blog%}
          <h1 > {{x.titulo}}</h1>
          <h2> {{x.descripcion}} </h2>
          <br>
          <img class="intro-img  img-fluid mb-3 mb-lg-0 rounded max-width:100% height:auto;" src= {{x.imagen.url}} > 
          <br>
          {{x.contenido}}
        {% endfor %}
      
      </div>

        <div class="col-3">
        
          lolo
          
        </div>
    
     

     
    </div>
   
</nav>

{%endblock%}