{% extends 'base.html' %}

{%load static%}
{% block title %} Profesionales {%endblock%}
{% block content %}


<div class="card mb-4" style="max-width: 1075px;">
  <div class="row g-3">
    <div class="col-md-3">
      <img src="{% static "img/chequeos.jpg"%}" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">HACETE LOS CHEQUEOS CON NOSOTROS</h3> 
        <h4 class="card-title">Contamos con profesionales altamente capacitados</h4><br><br>
        <h5 class="card-title">Un estudio a tiempo puede salvarte la vida</h5>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-5 row-cols-md-5 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="{% static "img/Acosta.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">GINECOLOGO</h5>
        <p class="card-text">Dr. Walter Acosta</p><br><br><br>
      </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Consulta ginecológica y mamaria</li>
        <li class="list-group-item">PAP</li>
      </ul>
      <div class="card-footer">
        <a href="{% url 'contacto' %}" class="btn btn-secondary">SOLICITAR TURNO</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img class= "imagen" src="{% static "img/muchut.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NUTRICIONISTA</h5>
        <p class="card-text">Lic. Luciana Muchut</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Consulta nutricional</li>
        <li class="list-group-item">Asesoramiento nutricional en oncología</li>
      </ul>
      <div class="card-footer">
        <a href="{% url 'contacto' %}" class="btn btn-secondary">SOLICITAR TURNO</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static "img/Saccani.jpg"%}" class="card-img-top" alt="img-fluid">
      <div class="card-body">
        <h5 class="card-title">MEDICINA CLINICA</h5>
        <p class="card-text">Dra. Gabriela Saccari </p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Atención a pacientes con enfermedades crónicas no transmisibles</li>
        <li class="list-group-item">Diabetes 

        <li class="list-group-item">Hipetensión arterial</li>
        <li class="list-group-item">Insuficiencia cardíaca</li>
        <li class="list-group-item">Tratamiento de tiroides</li>
       </ul>
       <div class="card-footer">
        <a href="{% url 'contacto' %}" class="btn btn-secondary">SOLICITAR TURNO</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="{% static "img/Manzino2.jpg"%}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NUTRICIONISTA</h5>
        <p class="card-text">Lic. Rocio Manzino</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Consulta Nutricional</li>
        <li class="list-group-item">Atención consultorio<br>Jueves 16 a 19 hs</li>
      </ul>
      <div class="card-footer">
        <a href="{% url 'contacto' %}" class="btn btn-secondary">SOLICITAR TURNO</a>
      </div>
    </div>
  </div>
</div>

{% endblock%}

