body {
    font-family: 'Lora';
    background: linear-gradient(rgba(224, 217, 214, 0.65), rgba(243, 130, 99, 0.5)), url("../img/fondoLalcec.webp");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
.navbar{
    font-family: sans-serif;
   
    background-color: rgba(243, 133, 16,0.8); 
}

.sticky-top2 {
   
    position: sticky;
    top: 58 ;
    z-index: 1020;
}

.font-1{
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   

}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }


.titulo{

    background: white;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
   
}

.contenedorLogin{
    background-color: rgb(243, 133, 16);
    margin: 10px auto;
    width: 25%;
    border-radius: 5px;
    padding: 1px 0px;

}

/* ELEMENTOS PARA PIE DE PAGINA*/

footer{
    width: 100%;
    background-color: #0a141d;
    
    
    /*background-color: #d0f0f8;
    -webkit-mask-image: url("../Images/background-footer.svg");
    mask-image: url("../Images/background-footer.svg");
    -webkit-mask-size: cover;
    mask-size: cover;*/
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #cce3de;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #cce3de;
}

.caja { 
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
    color: #ffffff; 
    font-size: 18px; 
    font-weight: 400; 
    text-align: center; 
    background: #e9e7e5; 
    margin: 0 0 25px; 
    overflow: hidden; 
    padding: 20px; 
    border-radius: 35px 0px 35px 0px; 
    -moz-border-radius: 35px 0px 35px 0px; 
    -webkit-border-radius: 35px 0px 35px 0px; 
    border: 2px solid #f0d396;}

.card-first{
    background:rgba(236, 146, 206, 0.89)
}
    
.card-second{
        background:rgb(111, 99, 194)
         
}
    
.card-Third{
        background:rgb(111, 148, 185)
    
}
    
.card-fourth{
        background:rgb(146, 146, 3);
    
}
    
.card-fifth{
        background: rgb(243, 192, 64);
    
}
    
.card-sixth{
        background: rgb(52, 199, 22);
    
}
    
.text-first{
       color:rgba(236, 146, 206, 0.89) ;
}
    
.text-second{
        color:rgb(111, 99, 194)
}
    
    
.text-Third{
        color:rgb(111, 148, 185)
    
}
    
    .text-fourth{
        color:rgb(146, 146, 3);
    
    }
    
.text-fifth{
        color: rgb(243, 192, 64);
    
}
    
.text-sixth{
        color: rgb(52, 199, 22);
    
}
    
.hd a:hover{
    color: black !important;
    text-decoration: wavy;
    font: bold;
  
    
    
}