{% extends 'base.html' %}


{% block content %}


<div class="contenedorLogin">
  <form method="POST" style="text-align:center;margin: 20px auto">{% csrf_token %}
 
     
      <input type="text" name="username" placeholder="USUARIO">
      <br><br>
      <input type="password" name="password" placeholder="CONTRASEÑA">
      <br><br>
      <input type="submit" name="" value="LOGUIN">
      
    </form>   
    
  </div>

<div class="container">

{% comment %} <div class="alert alert-danger">
    <strong>{{ form.errors|escape }}</strong>
  </div>  {% endcomment %}
<div class="alert alert-danger">
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
        {% if field.name == "username"%}
        <p>USUARIO: {{  error }}</p>
        {% elif field.name == "password" %}
        <p>CONTRASEÑA: {{  error }}</p>
        {% else %}
        <p> {{  messages }} </p>
        {% endif %}
        {% endfor %}
      {% endfor %}
    {% endif %}
  </div>
</div> 



   {% comment %} {% if messages %}
    
           {% for mensaje in messages %} 
              <div class="alert alert-danger">
                   <strong>{{ mensaje.tags}}</strong>
              </div>
          
       {% endfor %}
    {% endif %}  {% endcomment %}
{% endblock %} 

